.nav {
    display: flex;
    gap: 1rem;
}
.nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.nav .active {
    color: green;
    text-decoration: underline;
}

.artikel-container {
    padding: 15px;
}
.artikel-container .artikel {
    margin-bottom: 2rem;
}
.artikel-container .artikel .artikel-judul {
    width: 20rem;
}
.artikel-container .artikel .artikel-judul h3 {
    text-align: justify;
}

.artikel-container .artikel .artikel-gambar img {
    width: 20rem;
}
.artikel-container .artikel .artikel-body {
    width: 20rem;
}
.artikel-container .artikel .artikel-body p {
    text-align: justify;
}
